<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input style="width: 350px;" type="text" matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <input style="width: 350px;" type="text" matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <input style="width: 350px;" type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input style="width: 350px;" type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <input style="width: 350px;" type="password" matInput placeholder="ConfirmPassword" formControlName="confirmPassword">
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary">
      Register
    </button>

  </form>
</mat-card>
